<!DOCTYPE html>
<html>
<head>
  <title>BlogTutorial</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
      <% if user_signed_in? -%>
        <div id="user_login_box" style="float:right">sd
          <%= current_user.email %> |
          <%= link_to 'My info', edit_user_registration_path %> |
          <%= link_to 'Sign out', destroy_user_session_path %>
        </div>
      <% end -%>
<%= yield %>

</body>
</html>
